.booki_title {
  font-size: 18px;
  color: black;
  width: 100%;
  margin: 5px 0px;
}
.booki_subtitle {
  width: 100%;
  margin: 5px 0px;
  font-size: 11px;
  color: grey;
}

.icon_info {
  font-size: 10px;
  font-weight: 900;
  color: #0065FC;
  border-color:black;
  border-radius: 50% ;
  border: 1px solid #F2F2F2 ;
  padding: 3px 5px 3px 5px;
}

.info {
  font-size: 12px;
}

.filter_info {
  display: flex;
  align-items: center;
  gap: 5px;
}